  /* start font */
  
  @font-face {
      font-family: vazir;
      src: url(../font/Vazir-Regular.ttf);
  }
  
  @font-face {
      font-family: yekan;
      src: url(../font/Yekan.ttf);
  }
  
  @font-face {
      font-family: junitta;
      src: url(../font/Junitta.ttf);
  }
  /* end font */
  
  * {
      font-family: vazir;
  }
  /* header navbar start */
  
  .logo-large,
  .logo-small {
      font-family: junitta;
      font-weight: 400;
      font-size: 30px;
      color: #78002B !important;
  }
  
  .navbar ul {
      padding: 0;
  }
  
  .navbar {
      background: #FFE6EF;
  }
  
  li {
      list-style: none;
  }
  
  .navbar li {
      font-size: 18px;
  }
  
  .navbar li:active {
      color: #000000;
  }
  
  .navbar li span {
      /* Rectangle 17 */
      border: 1px solid #78002B;
      color: #78002B;
      box-sizing: border-box;
      border-radius: 10px;
      font-size: 15px;
  }
  
  .notif .dropdown-menu {
      background-color: #FFE6EF;
  }
  
  .notif-sm .dropdown-menu {
      background-color: #FFE6EF;
  }
  
  .notif-sm .dropdown-menu a {
      color: #78002B;
  }
  
  .notif-sm .dropdown-menu a:hover {
      background: #FFE6EF;
  }
  
  .notif .dropdown-menu a {
      color: #78002B;
  }
  
  .notif .dropdown-menu a:hover {
      background: #FFE6EF;
  }
  
  @media only screen and (min-width: 768px) {
      .logo-small {
          display: block;
      }
      .logo-large {
          display: none;
      }
  }
  
  @media only screen and (max-width: 1000px) {
      .logo-small {
          display: none;
      }
      .logo-large {
          display: block;
      }
      .navbar .priece {
          margin-top: 20px;
      }
  }
  
  @media only screen and (max-width: 768px) {
      .logo-large,
      .logo-small {
          font-size: 25px;
      }
      .logo-large,
      .logo-small a:hover {
          text-decoration: none;
      }
      .navbar li {
          font-size: 15px;
      }
      .navbar li span {
          font-size: 13px;
          margin-top: 50px;
      }
      .form-box h3 {
          font-size: 13px;
      }
      .dropdown a {
          font-size: 15px;
      }
      #dropdown-toggle .dropdown-menu a {
          font-size: 15px;
      }
  }
  /* navbar */
  
  @media (min-width: 768px) {
      .ml-4 {
          margin-left: 1rem;
      }
  }
  
  .ml-4 {
      margin-left: 1rem;
  }
  
  .items-center {
      align-items: center;
  }
  
  .flex {
      display: flex;
  }
  
  a {
      color: inherit;
      text-decoration: none;
  }
  
  a {
      background-color: transparent;
  }
  
  a {
      text-decoration: inherit;
  }
  
  .MuiIconButton-label:hover {
      border: none;
  }
  
  .MuiIconButton-colorPrimary {
      color: #78002B;
  }
  
  .MuiIconButton-root {
      flex: 0 0 auto;
      color: rgba(0, 0, 0, 0.54);
      padding: 12px;
      overflow: visible;
      font-size: 1.5rem;
      text-align: center;
      transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-radius: 50%;
  }
  
  .MuiButtonBase-root {
      color: inherit;
      border: 0;
      cursor: pointer;
      margin: 0 0 0 20px;
      display: inline-flex;
      outline: 0;
      padding: 0;
      position: relative;
      align-items: center;
      user-select: none;
      border-radius: 0;
      vertical-align: middle;
      -moz-appearance: none;
      justify-content: center;
      text-decoration: none;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
  }
  
  [type=button],
  [type=reset],
  [type=submit],
  button {
      -webkit-appearance: button;
  }
  
  button {
      cursor: pointer;
      font-weight: 500;
      outline: none;
  }
  
  button,
  select {
      text-transform: none;
  }
  
  button,
  input {
      overflow: visible;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
      padding: 0;
      line-height: inherit;
      color: inherit;
  }
  
  button {
      background-color: transparent;
      background-image: none;
  }
  
  .MuiIconButton-label {
      width: 100%;
      display: flex;
      align-items: inherit;
      justify-content: inherit;
  }
  
  .MuiBadge-root {
      display: inline-flex;
      position: relative;
      flex-shrink: 0;
      vertical-align: middle;
  }
  
  .MuiSvgIcon-root {
      fill: currentColor;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
      color: #78002B;
  }
  
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
      display: block;
  }
  
  .MuiBadge-anchorOriginTopRightRectangle {
      top: 0;
      left: 0;
      transform: scale(1) translate(-50%, -50%);
      transform-origin: 0% 0%;
  }
  
  .MuiBadge-colorError {
      color: #fff;
      background-color: #f44336;
  }
  
  .MuiBadge-badge {
      height: 20px;
      display: flex;
      padding: 0 6px;
      z-index: 1;
      position: absolute;
      flex-wrap: wrap;
      font-size: 0.75rem;
      min-width: 20px;
      box-sizing: border-box;
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      align-items: center;
      font-family: iranyekan, Roboto, "Helvetica Neue", Arial, sans-serif;
      font-weight: 500;
      line-height: 1;
      align-content: center;
      border-radius: 10px;
      flex-direction: row;
      justify-content: center;
  }
  
  .MuiTouchRipple-root {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      overflow: hidden;
      position: absolute;
      border-radius: inherit;
      pointer-events: none;
  }
  /*  navbar*/
  /* header navbar end */
  /*  start box */
  
  .boxmain {
      direction: rtl;
      color: #757575;
      font-family: "b yekan", tahoma;
      padding: 15px;
      margin: 16px;
      border-radius: 3px;
      -webkit-box-shadow: 0px 19px 10px -10px rgba(138, 138, 138, 0.25);
      -moz-box-shadow: 0px 19px 10px -10px rgba(138, 138, 138, 0.25);
      box-shadow: 12px 12px 5px -10px rgba(138, 138, 138, 0.25);
      border-radius: 15PX;
  }
  
  @media screen and (max-width: 767px) {
      .boxmain {
          font-size: 15px;
      }
  }
  /*  start button level home2   */
  /*  start button level home2   */
  
  .ullevel {
      display: inline-flex;
      list-style-type: none;
  }
  
  .buttonlevel {
      border-radius: 50px;
      background-color: #757575;
      text-decoration: none;
      color: #ffff;
      font-size: 2rem;
      padding: 0 15px;
  }
  
  .buttonlevel:hover {
      background-color: #78002B;
      color: #fff;
  }
  /*  end  button level home2  */
  /*start level  */
  
  @media screen and (max-width: 768px) {
      .Logout {
          width: 60px;
          height: 25px;
      }
  }
  
  @media screen and (max-width: 768px) {
      .level,
      .p {
          justify-content: center;
          padding: 15px 0 0 0;
          font-size: 10px;
      }
      .arrow {
          width: 30px;
          height: 8px;
          top: 15px;
          position: relative;
      }
      .hadi {
          width: 25px;
          height: 25px;
          font-size: 15px;
          padding: 1px 0 0 0;
          margin: 4px 0 0 0;
      }
  }
  
  @media screen and (min-width: 767px) {
      .level,
      .p {
          justify-content: center;
          padding: 15px 0 0 0;
          font-size: 15px;
      }
      .arrow {
          height: 10px;
          width: 50px;
          top: 15px;
          position: relative;
      }
      .hadi {
          height: 40px;
          width: 40px;
          font-size: 20px;
          padding: 4px 0 0 0;
      }
  }
  
  .active3 {
      background-color: #78002B;
      color: #fff;
  }
  
  .buttonlevel:hover {
      color: #fff;
  }
  /*end level  */
  /*statr button edit-approval */
  
  .edit-approval {
      gap: 30px;
  }
  
  .approval {
      background-color: #FF5290;
      color: #ffff;
      border: none;
      border-radius: 10px;
  }
  
  .approval:hover {
      background: #E44C83;
      color: #fff;
  }
  
  .edit {
      border-radius: 10px;
      border: 1px solid #FF5290;
      color: #FF5290;
  }
  
  .edit:hover {
      color: #ffff;
      background-color: #FF5290;
  }
  
  .confirmation {
      text-align: center;
  }
  /*end button edit-approval */
  /* start alarm */
  
  .spanalarm {
      background-color: #F36F6F;
      color: #fff;
      border-radius: 50%;
      position: relative;
      float: right;
      bottom: 35px;
      right: -13px;
      padding: 8px 15px;
  }
  
  @media screen and (max-width: 767px) {
      .spanalarm {
          bottom: 27px;
          right: -10px;
          padding: 3px 10px;
      }
  }
  
  .img-alarm {
      position: relative;
      justify-content: end;
      right: -20px;
      bottom: 20px;
  }
  /* end alarm */
  /* start return home3 */
  
  .return,
  .return:hover {
      font-size: 20px;
      text-decoration: none;
      color: #000;
      float: right;
      display: block;
  }
  /* end return home3 */